# Node / Next
node_modules/
.next/
out/
coverage/
.DS_Store
.vscode/

# Env
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Prisma (SQLite local)
prisma/dev.db

# Uploads (păstrăm doar folderul gol în repo)
public/uploads/*
!public/uploads/.gitkeep
